* {
    margin: 0;
    padding: 0;font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    height: 300dvh;
    flex-direction: column;
    overflow-x: hidden;
}

.bg {
    position: absolute;
    height: 120vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.705);

    .btn {
        color: white;
        font-weight: 900;
        font-size: 1rem;
        padding: 0.7rem 1rem;
        transition-duration: 100ms;
        letter-spacing: 0.1rem;
        text-decoration: none;

        &:hover {
            color: rgb(219, 125, 1);
            text-shadow: 
                0 0 10px rgba(255, 255, 255, 0.6),
                0 0 20px rgba(255, 255, 255, 0.8),
                0 0 40px rgb(255, 255, 255);
            transform: scale(1.1);
        }
    }
}

.title {
    display: flex;
    flex-direction: column;
    width: 100wh;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    .logo {
        max-width: 50rem;
    }
    h1 {
        font-weight: 400;
        letter-spacing: 0.5rem;
        font-size: 5rem;
    }
    .btn-group{
        display: flex;
        gap: 2rem;
        .btn{
            border: 3px solid rgba(255, 255, 255, 0.70);
            border-radius: 20px;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 1.5rem 5rem;
            background-color: rgba(0, 0, 0, 0.90);
            text-decoration: none;
            color: rgba(255, 255, 255, 0.70);
            letter-spacing: 0.02rem;
            transition-duration: 300ms;
            &:hover {
                color: white;
                background-color: black;
                border: 3px solid white;
            }
        }
    }
}